    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
            

<h4>Register a Restaurant</h4>

<div>

    <div *ngIf="success_message" style="color: red">
        <p *ngFor="let messages of success_message">{{ messages.message }}</p>
        <p></p>
    </div>
    
    <form (submit)="submit_form()">
        <h3> Name: </h3>
        <input type="text" name="formdata.name" [(ngModel)]="formdata.name"/>
        <h3> Cuisine: </h3>
        <input type="text" name="formdata.cuisine" [(ngModel)]="formdata.cuisine"/>
        <input class="btn" style="margin-top: 2%; margin-left: 2%;" type="submit">
        <button [routerLink]="['/']" class="btn red" style="margin-top: 2%; margin-left: 2%">Cancel</button>
    </form>

</div>